/* Global Reset */
* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      box-sizing: border-box;
  }
  :root {
      --primary-color: #5A67D8;       /* Soft indigo for a professional yet modern look */
      --primary-color-100: #EBF4FF;   /* Very light blue for highlights */
      --primary-color-300: #7F9CF5;   /* A muted yet vibrant secondary accent for primary */
      
      --secondary-color: #2D3748;     /* Neutral dark grey for structure and contrast */
      --secondary-color-600: #4FD1C5; /* Aqua-teal for interactive elements */
      --secondary-color-900: #1A202C; /* Deep charcoal for depth */
      
      --background-color: #F7FAFC;    /* Light off-white for a clean, minimal background */
      --surface-color: #EDF2F7;       /* Soft grey-white for cards or modals */
      --neutral-color: #A0AEC0;       /* Cool grey for text and neutral elements */
      
      --title-font: "Roboto Flex", "Helvetica", Arial, sans-serif;
      --body-font: "Domine", "Times New Roman", serif;
  }
  header {
      background-color: var(--surface-color);
      padding: 1rem 2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo {
      width: 30%;
  }
  
  .logo img {
      width: 100%;
      max-width: 150px;
      padding: 0.5rem;
      border-radius: 100px;
  }
  
  /* Navigation Menu */
  .nav-container {
      width: 70%;
  }
  
  .nav-items {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .nav-items a {
      color: var(--secondary-color);
      font-family: var(--title-font);
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 1rem;
      padding: 0.5rem;
      transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .nav-items a:hover {
      color: var(--primary-color);
      border-bottom: solid 2px var(--primary-color);
  }