/* small screen */
@media(max-width:640px){
      header{
            flex-direction: column;
      }
      .nav-items{
            flex-direction: column;
            margin: 1.5rem 0;
      }
      .logo{
            width: 100%;
            margin: 1rem 0px;
      }
      section{
            flex-direction: column;
      }
      html{
            font-size: 20px;
      }
      .about-section{
            text-align: center;
      }
      .about-description-container h1{
            margin-bottom: 10px;
      }
      .text-label{
            font-size: .9rem;
      }
      .about-image-container{
            width: 80%;
      }
      
@media(min-width:641px) and (max-width:1007px){
      html{
            font-size: 13px;
      }
}